.remove  {
  cursor: pointer;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tile {
  width: 100px;
  height: 100px;
  margin: 3px;
  padding: 6px;
  background-color: #eee;
  border: 1px solid #bbb;
}

.tile:hover {
  background-color: white;
}

.tile p {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  display: none;
}
