<div class="row">
  <h1>Castle Kings</h1>

  <div class="col-md-6">
    <h2>Blocked Spaces</h2>
    <button id="addBlockedSpace">Add Blocked Space</button>
    <ul id="blocked-container"></ul>

    <h2>Gold Positions</h2>
    <button id="addGoldSpace">Add Gold Space</button>
    <ul id="gold-container"></ul>
  </div>
  <div class="col-md-6">
    <h2>Actions</h2>
    <div><input type="text" id="pointToCheck" /><button id="checkDupe">Check</button></div>
    <div><button id="generateButton">Reset Positions</button></div>
  </div>
</div>
